<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.dictionary.abbreviations</string>
	<key>CFBundleName</key>
	<string>Abbrev</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright © FPs.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>FPs.</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>Abbreviations_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>Abbreviations.xsl</string>
        <key>DCSDictionaryDefaultPrefs</key>
        <dict>
                <key>pronunciation</key>
                <string>0</string>
                <key>display-column</key>
                <string>1</string>
                <key>version</key>
                <string>1</string>
        </dict>
</dict>
</plist>
