<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.dictionary.Abbreviations</string>
	<key>CFBundleName</key>
	<string>Abbrev</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright © FPs.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>FPs.</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>Abbreviations_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>Abbreviations.xsl</string>
</dict>
</plist>
